<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <title>Esploor Apps</title>
</head>
<body>
    <a href="#main" class="skip-link">Skip to content</a>
    <nav class="navbar" id="navbar">
        <a href="#" class="navbar-toggle" id="menu-toggle">☰</a>
        <a href="" class="logo">Esploor Apps</a>
        <ul class="main-nav" id="main-nav" id="menu">
            <li>
                <a href="" class="link-nav">Home</a>
            </li>
            <li>
                <a href="#" class="link-nav">Favourite</a>
            </li>
            <li>
                <a target="_blank" href="https://www.linkedin.com/in/rizqifauzulfitria/" class="link-nav">About Us</a>
            </li>
        </ul>
    </nav>

    <header class="hero-content">
        <img src="./images/heros/hero-image_2.jpg" width="450" alt="hero">
        <div class="text">
            <h1 class="hero_tittle">Esploor Apps</h1>
            <p class="hero_tagline">Esploor food for pleasure</p>
        </div>
    </header>

    <main id="main">        
        <section class="content">
            <div class="latest">
                <h2 class="latest_headline">Look for Our Beloved Restaurants</h2>
                <div class="container-btn">
                    <button class="btn">Restaurant</button>
                </div> 
            </div>

            <card-item/>
        </section>

        <section class="footer">
            <p>
                Copyright © 2021 - Esploor Apps
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#ECB365" fill-opacity="1"
                d="M1,128L34.1,122.7C60.6,117,137,107,206,85.3C274.3,64,343,32,411,37.3C480,43,549,85,617,112C685.7,139,754,149,823,138.7C891.4,128,960,96,1029,80C1097.1,64,1166,64,1234,69.3C1302.9,75,1371,85,1406,90.7L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z">
                </path>
            </svg>
        </section>
    </main>

</body>
</html>
